/Users/nicoclerici/Documents/Bewerbung/DBew/Prototyp_eBew/prototyp/WebInterface/cnn/model_final.pth filter=lfs diff=lfs merge=lfs -text
src/outputs_best/model_final.pth filter=lfs diff=lfs merge=lfs -text
prototyp/WebInterface/cnn/model_final.pth filter=lfs diff=lfs merge=lfs -text
src/trained_file/model_final.pth filter=lfs diff=lfs merge=lfs -text
